# .coveragerc
[run]
omit =
    */tests/*
    */config.py
    */__init__.py
    */migrations/*
    */extensions/*
    */schemas/*
    */validators/*
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
directory = htmlcov